.assessment > div:first-child {
	font-size: 110%; 
	text-align: right;
}

.assessment .actions{ 
	display: flex 
}

.assessment .actions > :not(.dir){ 
	padding-left: 15%;
  	width: 50%
}

.assessment .actions > .dir{ 
  width: 25%
}