.result > div > div:nth-child( 2 ){	
	display: flex	
}
.result > div > div:nth-child( 2 ) > div{		
	padding: 1vmin
}
.result > div > div:nth-child( 2 ) > div:first-child{ 
	width: 50vw	
}
.result > div > div:nth-child( 2 ) > div:not( :first-child ){ 
	width: 25vw	
}