.result > div:nth-child( 2 ) > div { 
	border-bottom: 1px dotted #aaa;
  	display: flex;
}

.result > div:nth-child( 3 ),
.result > div:nth-child( 2 ) > div:first-child {
  	font-weight: bold;
}

.result > div:nth-child( 2 ) > div:first-child,
.result > div:nth-child( 2 ) > div:last-child,
.result > div:nth-child( 3 )  {
	border-bottom: 1px solid #888888;
}

.result > div:nth-child( 2 ) > div > div{   
  	padding: 1vmin
}

.result > div:nth-child( 2 ) > div > div:first-child { 
	text-align: left;
  	width: 50%
}

.result > div:nth-child( 2 ) > div > div:not( :first-child ){ 
	text-align: right;
  	width: 25%
}

.result > div:nth-child( 3 ) {
    margin-left: 1vw;
    width: 52.7vw;
}