.App {
  text-align: center;
}

.App p{
  text-align: justify;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App > article {
  margin-left: calc(50vw/2);
  width: 50vw;
}

.App > article > div > *{
  padding: 2vh 1vw 2vh 1vw;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}