.App {
  text-align: center;
}

.App p{
  text-align: justify;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App > article {
  margin-left: calc(50vw/2);
  width: 50vw;
}

.App > article > div > *{
  padding: 2vh 1vw 2vh 1vw;
}

.questionnaire > div:first-child {
  margin-bottom: 5vh;
}

.questionnaire > div:first-child,
.result > div:nth-child( 2 ) > div:first-child {
  font-weight: bold;
}

.assessment .actions,
.result > div:nth-child( 2 ) > div{ 
  display: flex 
}

.result > div:nth-child( 2 ) > div > div{   
  padding: 1vmin
}

.assessment .actions > :not(.dir),
.result > div:nth-child( 2 ) > div > div:first-child{ 
  width: 50%
}

.assessmet .actions > :not(.dir){
  padding-left: 15%
}

.assessment .actions > .dir,
.result > div:nth-child( 2 ) > div > div:not( :first-child ){ 
  width: 25%
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}